In [80]:
import pandas as pd
import random

In [156]:
df = pd.read_csv("plots/small_running_dataset.csv", index_col="item")

In [157]:
def correct_labels(val):
    if val == "pos":
        return "C"
    elif val == "neg":
        return "D"
    else:
        return val

In [158]:
df = df.applymap(correct_labels)

In [159]:
df

,state,$h_c$,$r_1$,$r_2$,$r_3$,$r_4$,$r_5$,$r_6$,$r_7$,$r_8$,$r_9$,$r_{10}$
item,,,,,,,,,,,,
0,0.8,D,D,D,C,C,D,C,C,C,C,C
1,0.8,C,C,C,C,C,C,C,C,C,C,C
2,0.8,C,D,C,C,C,C,C,C,C,C,C
3,0.8,C,D,C,C,C,C,C,C,C,C,C
4,0.8,C,D,C,D,C,C,C,C,C,C,C
5,0.8,C,C,C,C,C,C,C,D,C,C,C
6,0.8,C,C,D,C,C,C,C,C,C,C,C
7,0.5,C,D,C,D,C,C,C,D,C,C,C
8,0.1,D,D,D,D,D,D,D,D,D,D,D
9,0.1,D,D,D,D,C,D,D,D,C,D,D

In [161]:
df.drop(columns=['state'], axis=1).to_csv("plots/cats_and_dogs.csv")

In [110]:
def plurality(labels, allowable_labels = ['C', 'D']):
    if len(labels) == 0:
        # with no labels, just pick one of the allowable labels at random
        return random.choice(allowable_labels)
    else:
        freqs = dict()
        for val in labels:
            freqs[val] = freqs.get(val, 0) + 1
        max_freq = max(freqs.values())
        winners = [k for k in freqs if freqs[k] == max_freq]
        ## return one of the winners, at random
        return random.choice(winners)

In [132]:
def frequency(labels, of_interest='C'):
    labels = list(labels)
    return labels.count(of_interest) / len(labels)

In [122]:
cols = [df.iloc[:, 2:2+i].apply(plurality, axis=1) for i in range(1,9)]
pluralities = pd.concat(cols, axis=1).rename(columns = {i:f'k={i+1}' for i in range(8)})

In [123]:
pluralities

     k=1 k=2 k=3 k=4 k=5 k=6 k=7 k=8
item
0      D   D   D   D   D   C   C   C
1      C   C   C   C   C   C   C   C
2      D   C   C   C   C   C   C   C
3      D   D   C   C   C   C   C   C
4      D   D   D   C   C   C   C   C
5      C   C   C   C   C   C   C   C
6      C   D   C   C   C   C   C   C
7      D   C   D   C   C   C   C   C
8      D   D   D   D   D   D   D   D
9      D   D   D   D   D   D   D   D

In [124]:
pluralities.to_csv('plots/pluralities.csv')

In [133]:
cols = [df.iloc[:, 2:2+i].apply(frequency, axis=1) for i in range(1,9)]
frequencies = pd.concat(cols, axis=1).rename(columns = {i:f'k={i+1}' for i in range(8)})

In [134]:
frequencies

      k=1  k=2       k=3   k=4  k=5       k=6       k=7    k=8
item
0     0.0  0.0  0.333333  0.50  0.4  0.500000  0.571429  0.625
1     1.0  1.0  1.000000  1.00  1.0  1.000000  1.000000  1.000
2     0.0  0.5  0.666667  0.75  0.8  0.833333  0.857143  0.875
3     0.0  0.5  0.666667  0.75  0.8  0.833333  0.857143  0.875
4     0.0  0.5  0.333333  0.50  0.6  0.666667  0.714286  0.750
5     1.0  1.0  1.000000  1.00  1.0  1.000000  0.857143  0.875
6     1.0  0.5  0.666667  0.75  0.8  0.833333  0.857143  0.875
7     0.0  0.5  0.333333  0.50  0.6  0.666667  0.571429  0.625
8     0.0  0.0  0.000000  0.00  0.0  0.000000  0.000000  0.000
9     0.0  0.0  0.000000  0.25  0.2  0.166667  0.142857  0.250

In [136]:
frequencies.to_csv('plots/frequencies.csv', float_format="%.2f")